<%- include ("templates/head") %>

<br><br>
<div class="container">    
    <table class="tftable" border="1">
        <tr><th>Id Presupuesto</th><th>Fecha de Creacion</th><th>Proyecto</th><th>Version</th><th>Editar</th><th>Enviar</th><th>Eliminar</th></tr>
        <tr><th>Id Presupuesto</th><th>Fecha de Creacion</th><th>Proyecto</th><th>Version</th><th>Editar</th><th>Enviar</th><th>Eliminar</th></tr>
        
    </table>
    
</div>

</body>
</html>