<%- include ("templates/head") %>

<br><br>
<div class="container">
<style type="text/css">
    .tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    .tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    .tftable tr {background-color:#d4e3e5;}
    .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
    .tftable tr:hover {background-color:#ffffff;}
    </style>
    
    <table class="tftable" border="1">
        <tr><th>Id Presupuesto</th><th>Fecha de Creacion</th><th>Proyecto</th><th>Version</th><th>Nuevo</th><th>Editar</th><th>Enviar</th><th>Eliminar</th></tr>
        <tr><td> <%=  %> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td><td> </td></tr>
    </table>
    
</div>

</body>
</html>