<%- include ("templates/head") %>

<br><br>

<div class="container">    
    <table class="tftable" border="1">
        <tr><th>Ventas</th><th>Costos</th><th>Margen</th><th>Saldo</th><th>Final</th></tr>
        <tr><td>vtas</td><td>cos</td><td>nmar</td><td>por</td><td>por</td></tr>
        
    </table>
    
</div>

</body>
</html>